/* Imports */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Typography */
/* line 2, ../sass/base/_typography.scss */
body {
  color: #fff;
  font: 300 15px/15px Roboto, Arial, Helvetica;
  line-height: 1;
}

/* line 8, ../sass/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Josefin Sans, Arial, Helvetica;
}

/* line 23, ../sass/base/_typography.scss */
a:active, a:focus, a:hover {
  color: #666;
  text-decoration: none;
}

/* line 33, ../sass/main.scss */
#main-navbar {
  background-color: rgba(0, 0, 0, 0.8) !important;
  padding: 0px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
/* line 39, ../sass/main.scss */
#main-navbar .navbar-toggler {
  color: #fff;
}
/* line 44, ../sass/main.scss */
#main-navbar ul li {
  margin-left: 0px;
}
/* line 47, ../sass/main.scss */
#main-navbar ul li a {
  color: #777777;
  line-height: 28px;
  padding: 10px 15px;
}
/* line 54, ../sass/main.scss */
#main-navbar ul li.active a {
  color: #555555;
  background-color: #e7e7e7;
}
