/* Imports */
/* line 5, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Typography */
/* line 2, ../sass/base/_typography.scss */
body {
  color: #fff;
  font: 300 15px/15px Roboto, Arial, Helvetica;
  line-height: 1;
  padding-bottom: 40px;
}

@media only screen and (min-width: 310px) {
  /* line 9, ../sass/base/_typography.scss */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font: 300 1.5em Josefin Sans, Arial, Helvetica;
  }
}
@media only screen and (min-width: 992px) {
  /* line 9, ../sass/base/_typography.scss */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font: 300 2.5em Josefin Sans, Arial, Helvetica;
  }
}

/* line 24, ../sass/base/_typography.scss */
p {
  line-height: 1.7em;
}

/* line 28, ../sass/base/_typography.scss */
a {
  text-decoration: none;
}
/* line 31, ../sass/base/_typography.scss */
a:active, a:focus, a:hover {
  color: #666;
  text-decoration: none;
}

/* line 1, ../sass/layout/_footer.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  font-size: 1em;
  height: 40px;
  line-height: 40px;
  background-color: #111;
  color: #aaa;
  text-align: center;
}
@media only screen and (min-width: 310px) {
  /* line 13, ../sass/layout/_footer.scss */
  .footer span {
    font-size: 0.75em;
  }
}
@media only screen and (min-width: 992px) {
  /* line 13, ../sass/layout/_footer.scss */
  .footer span {
    font-size: inherit;
  }
}

@media only screen and (min-width: 310px) {
  /* line 24, ../sass/layout/_footer.scss */
  .spacer {
    padding: 1.3em 0;
  }
}
@media only screen and (min-width: 992px) {
  /* line 24, ../sass/layout/_footer.scss */
  .spacer {
    padding: 3.5em 0;
  }
}

/* line 2, ../sass/layout/_header.scss */
#main-navbar {
  background-color: rgba(0, 0, 0, 0.8) !important;
  padding: 0px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
/* line 8, ../sass/layout/_header.scss */
#main-navbar .navbar-toggler {
  color: #fff;
}
/* line 13, ../sass/layout/_header.scss */
#main-navbar ul li {
  margin-left: 0px;
}
/* line 16, ../sass/layout/_header.scss */
#main-navbar ul li a {
  color: #777777;
  line-height: 28px;
  padding: 10px 15px;
}
/* line 23, ../sass/layout/_header.scss */
#main-navbar ul li.active a {
  color: #555555;
  background-color: #e7e7e7;
}

/* line 24, ../sass/main.scss */
html {
  min-height: 100%;
  position: relative;
}

/* line 29, ../sass/main.scss */
body {
  padding-top: 50px;
  background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url(../images/bg.jpg) right no-repeat fixed #fff;
  background-size: cover;
}

/* line 38, ../sass/main.scss */
.btn, a, .btn:hover, a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none !important;
}

@media only screen and (min-width: 310px) {
  /* line 47, ../sass/main.scss */
  .portfolio-section {
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 47, ../sass/main.scss */
  .portfolio-section {
    margin-bottom: 50px;
  }
}
/* line 71, ../sass/utils/_mixins.scss */
.portfolio-section h2 {
  text-align: center;
  margin-bottom: 15px;
}
/* line 51, ../sass/main.scss */
.portfolio-section h2 {
  margin-bottom: 25px;
}

/* line 56, ../sass/main.scss */
#about {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
/* line 66, ../sass/main.scss */
#about img {
  margin-bottom: 15px;
}
/* line 70, ../sass/main.scss */
#about h1 {
  text-transform: capitalize;
  margin-bottom: 15px;
}
@media only screen and (min-width: 310px) {
  /* line 75, ../sass/main.scss */
  #about p {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  /* line 75, ../sass/main.scss */
  #about p {
    display: initial;
  }
}

/* line 86, ../sass/main.scss */
.grid-cell {
  cursor: pointer;
  padding: 0px;
  text-align: center;
}
/* line 92, ../sass/main.scss */
.grid-cell:hover h2 {
  opacity: 1;
}
/* line 97, ../sass/main.scss */
.grid-cell .grid-img-container {
  width: 100%;
}
/* line 102, ../sass/main.scss */
.grid-cell .grid-img-container .port-image {
  width: 100%;
}
/* line 107, ../sass/main.scss */
.grid-cell figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 124, ../sass/main.scss */
.grid-cell figcaption h2 {
  text-shadow: 0 0 3px #000;
  opacity: 0;
}
/* line 129, ../sass/main.scss */
.grid-cell figcaption p {
  font-size: 68.5%;
  letter-spacing: 1px;
}
/* line 134, ../sass/main.scss */
.grid-cell figcaption a {
  margin-top: 1em;
  display: inline-block;
  color: #fff;
  padding: 0 2em;
}
/* line 141, ../sass/main.scss */
.grid-cell figcaption a:not(.app-store-icon) {
  border: 1px solid #fff;
}
/* line 143, ../sass/main.scss */
.grid-cell figcaption a:not(.app-store-icon):hover {
  text-decoration: none;
  padding: 0 3em;
}

/* line 157, ../sass/main.scss */
#skills .chart-container #skills-chart .chart {
  width: 100%;
  min-height: 450px;
}

/* line 166, ../sass/main.scss */
.modal .modal-content {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background: #000;
}
/* line 170, ../sass/main.scss */
.modal .modal-content h2 {
  text-align: center;
}
/* line 174, ../sass/main.scss */
.modal .modal-content .modal-header {
  border-bottom: 0px;
}
/* line 177, ../sass/main.scss */
.modal .modal-content .modal-header .close {
  color: #ffffff;
}
/* line 183, ../sass/main.scss */
.modal .modal-content .modal-body ul {
  margin-top: 0px;
  margin-bottom: 10px;
  list-style-type: circle;
  padding-left: 20px;
}
/* line 189, ../sass/main.scss */
.modal .modal-content .modal-body ul li {
  margin-bottom: 10px;
}
/* line 195, ../sass/main.scss */
.modal .modal-content .modal-footer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: flex-end;
  border-top: 0px;
}
/* line 199, ../sass/main.scss */
.modal .modal-content .modal-footer .btn {
  color: #ccc;
  border: 1px solid #aaa;
  background: rgba(0, 0, 0, 0.5);
  padding: 1em 4em;
}

/* line 209, ../sass/main.scss */
#contact {
  text-align: center;
  background-color: #111;
  color: #aaa;
}
/* line 214, ../sass/main.scss */
#contact h2 {
  margin-bottom: 1em;
}
/* line 218, ../sass/main.scss */
#contact a {
  color: #aaa;
  margin: 0 1em;
}
@media only screen and (min-width: 310px) {
  /* line 222, ../sass/main.scss */
  #contact a .fa-2x {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 992px) {
  /* line 222, ../sass/main.scss */
  #contact a .fa-2x {
    font-size: 2em;
  }
}

/* line 234, ../sass/main.scss */
.app-store-icon {
  display: inline-block;
  overflow: hidden;
  background: url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;
  width: 135px;
  height: 40px;
}

@media only screen and (min-width: 310px) {
  /* line 242, ../sass/main.scss */
  .gototop {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  /* line 242, ../sass/main.scss */
  .gototop {
    display: initial;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #fff;
  }
}
/* line 257, ../sass/main.scss */
.gototop i {
  line-height: 0.5em;
}
