/* Imports */
// Compass
@import "compass/css3/flexbox";
@import "compass/reset";

// Utils
@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";
@import "utils/placeholders";

// Base
@import "base/typography";

// Components
@import "components/media";

// Layout
@import "layout/footer";
@import "layout/header";

//.row {
//  @include display-flex;
//}

//p {
//  @include phone {
//    font-size: 18px;
//  }
//}

html {
  min-height: 100%;
  position: relative;
}

.gototop {
  @include phone-retina {
    display: none;
  }

  @include medium {
    display: initial;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #fff;
  }

  i {
    line-height: 0.5em;
  }
}