.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  font-size: 1em;
  height: #{$footer-height};
  line-height: #{$footer-height};
  background-color: #111;
  color: #aaa;
  text-align: center;

  span {
    @include phone-retina {
      font-size: 0.75em;
    }

    @include medium {
      font-size: inherit;
    }
  }
}

.spacer {
  @include phone-retina {
    padding: 1.3em 0;
  }

  @include medium {
    padding: 3.5em 0;
  }
}