/* Typography */
body {
  color: #{$base-text-color};
  font: #{$base-font-style};
  line-height: #{$base-line-height};
  padding-bottom: #{$footer-height};
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include phone-retina {
    font: #{$header-font-small};
  }

  @include medium {
    font: #{$header-font};
  }
}

p {

}

a {

  text-decoration: none;
  &:active,
  &:focus,
  &:hover {
    color: #666;
    text-decoration: none;
  }
}

hr {

}