// Media Queries
//iPhone retina
@mixin phone-retina {
  @media only screen and (#{$width-type}: #{$phone-retina-width}) {
    @content;
  }
}

@mixin phone {
  @media only screen and (#{$width-type}: #{$phone-width}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (#{$width-type}: #{$tablet-width}) {
    @content;
  }
}

@mixin medium {
  @media only screen and (#{$width-type}: #{$medium-width}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (#{$width-type}: #{$desktop-width}) {
    @content;
  }
}

@mixin section-separation {
  @include phone-retina {
    margin-bottom: #{$section-separation-small};
  }

  @include tablet {
    margin-bottom: #{$section-separation};
  }
}

@mixin flex-display {
  display: flex;
  display: -webkit-flex;
}