// Fonts
$base-font-size: 1em;
$base-font-family: Roboto,Arial,Helvetica;
$base-font-style: 300 15px/15px Roboto,Arial,Helvetica;
$base-line-height: 1;

$header-font: 300 2.5em Josefin Sans,Arial,Helvetica;
$header-font-small: 300 1.5em Josefin Sans, Arial, Helvetica;
$header-font-family: Josefin Sans,Arial,Helvetica;
$header-line-height: 28px;

// Colors
$header-bg: rgba(0,0,0,0.8) !important;

// Font Colors
$base-text-color: #fff;
$header-text-color: #777777;

// Breakpoints (media) - Mobile First Design
// https://teamtreehouse.com/community/are-there-standard-media-query-break-points
// https://davidwalsh.name/write-media-queries-sass
// https://css-tricks.com/approaches-media-queries-sass/
//Many of these will vary from project to project, so define based on my specific needs
$width-type: min-width;
$phone-retina-width: 310px;
$phone-width: 544px;
$tablet-width: 768px;
$medium-width: 992px;
$desktop-width: 1200px;

// Other sizes

// Border

// Margin
$default-margin-bottom: 15px;
$section-separation-small: 25px;
$section-separation: 50px;

// Padding
$header-padding: 10px 15px;

// Footer
$footer-height: 40px;
